//- Main page of the app. Rendered HTML is decided by user login status

include mixins.pug

doctype html
html
  +pageHead("Home")

  body
    +layoutBase()
      +appTitle()
      +topMenu("index")

      p
        | Join a community of thousands of users and find new interesting places
        | for a night out with friends or completely random strangers!
      div#main-app
      +appFooter()

    script(type="text/javascript" src="/build/bundle.js" charset="utf-8")
