//- Main page of the app. Rendered HTML is decided by user login status

include mixins.pug

doctype html
html
  +pageHead("Nightlife home")

  body
    +layoutBase()
      +appTitle()
      +topMenu("index")
      div#main-app
      +appFooter()

    script(type="text/javascript" src="/build/bundle.js" charset="utf-8")
