//- Main page of the app. Rendered HTML is decided by user login status

include mixins.pug

doctype html
html
  +pageHead("Nightlife home")

  body
    +topMenu("index")
    +appTitle()

    div.container
      div.row
        div.col-xs-2
        div.col-xs-8
          p Search for a club or restaurant near you:
          div#main-app
        div.col-xs-2

    +appFooter()

    script(type="text/javascript" src="/build/bundle.js" charset="utf-8")
