//- File which is rendered for logging in as a registered user.

- var failed = typeof loginFailed !== "undefined";

include mixins.pug

doctype html
html
  +pageHead("Nightlife login")

  body
    +layoutBase()
      +appTitle()
      +topMenu("login")

    +layoutBase()
      hr
      - if (!failed) {
        p#pw-login-msg Enter username/password:
      - } else {
        p#pw-login-msg.text-error Login failed. Please retry.
      - }

      form(method="POST" action="/auth/userlogin")

        div.form-group
          label.label.label-default(for="userNameInput") Username
          input#userNameInput.form-control(
            name="username" type="text" placeholder="Enter username")

        div.form-group
          label.label.label-default(for="userPasswordInput") Password
          input#userPasswordField.form-control(
            name="password" type="password" placeholder="Password")

        button#login-btn(type="submit") Submit

      p No account yet? Then 
        a(href='/signup') Signup!

    +layoutBase()
      +appFooter()
