//- This file contains mixins used in all .pug files. This helps making layouts
//- more unified across all different pages, and helps in following DRY.

- var bs = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css";
- var domain = "http://127.0.0.1";

mixin metaProps()
  meta(property="og:url" content="" + domain)
  meta(property="og:type" content="website")
  meta(property="og:title" content="CoordiNight")
  meta(property="og:description" content="You can create polls, and vote in other polls!")
  //- meta(property="og:image" content="http://www.your-domain.com/path/image.jpg" )

mixin styleSheets()
    link(href="" + bs rel="stylesheet" type="text/css")
    link(href="/build/main.css" rel="stylesheet" type="text/css")
    link(href="/public/css/font-awesome.css" rel="stylesheet" type="text/css")

mixin scripts()
  //-script(src="https://fb.me/react-15.2.1.min.js")
  //-script(src="https://fb.me/react-dom-15.2.1.min.js")

//- Generates the page head (css + js) with a customisable title
mixin pageHead(pageTitle)
  head
    meta(http-equiv="content-type" content="text/html; charset=utf-8")
    +metaProps()
    title= pageTitle
    +styleSheets()
    +scripts()

//- Defines the page basic layout
mixin layoutBase()
  div.container
    div.row
      div.col-md-2
      div.col-md-8
        block
      div.col-md-2

//- Main navigation bar at the top of the page.
mixin topMenu(title)
  header
    ul.top-menu
      li
        a.menu(href="/") Home
      - if (isAuth) {
        li
          a.menu(href="/profile") Profile
        li
          a.menu(href="/logout") Logout
      - }
      - else {
        li
          a.menu(href="/login") Login
        li
          a.menu(href="/signup") Signup
      - }
      li
        a.menu(href="/about") About
    hr

mixin appTitle()
  h1.app-title-text CoordiNight

mixin button(text)
  button.btn-night {text}

//- Footer for the pages with various link symbols
mixin appFooter()
  div.author-footer
    hr
    ul.footer-links
      li.footer-link-icon
        a(href="https://www.github.com/tpoikela")
          i(class="fa fa-github fa-2x")
      li.footer-link-icon
        a(href="https://www.twitter.com/tuomaspoi")
          i(class="fa fa-twitter fa-2x")
      li.footer-link-icon
        a(href="https://www.freecodecamp.com/tpoikela")
          i(class="fa fa-free-code-camp fa-2x")
    p Tuomas Poikela, 2017

