//- File which is rendered for profile requests

include mixins.pug

doctype html
html
  +pageHead("Nightlife profile")

  body
    +topMenu("profile")
    +appTitle()

    div.container
      div.row
        div.col-xs-2
        div.col-xs-8
          div#profile-app
        div.col-xs-2

    +appFooter()

    script(type="text/javascript" src="/build/bundle.js" charset="utf-8")
